body{
  background: url('../images/Stars-wallpaper-HD-desktop.jpg') no-repeat center center fixed!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-color:#3333!important; */

}
p{
  font-size: 15px;
}
.banner{
  text-align: center;
}

h1{
  font-size: 90px!important;
  font-family: Brush Script MT, Brush Script Std, cursive!important;
  color: rgb(210, 82, 127)!important;
  text-align: center

}


h3{
  color: white!important;
  padding: 70px 0 40px 0!important;
}

.topnav button{
  background-color: rgb(210, 82, 127)!important;
  border: none;
  padding: 2px 5px;
  color:#fff;
}

img{
  height:350px;
  }

.row{
  margin-left: 100px;
}

p{
  color: white!important;
}

ul{
  color: white!important;

}

.tade{
background-color: white;
}

h3{
  color:rgb(27, 163, 156)!important;
  text-align: center;
}

.navbar a{
  color: rgb(210, 82, 127)!important;
}

h2{
  color:rgb(27, 163, 156)!important;
  size: 20px;
  text-align: center;
}


h4{
  color:white!important;
}
footer .list-unstyled a{
  color: #fff;
  font-size: 14px;
}
footer .list-unstyled li{
  display: inline-block;
}
footer .footer-copyright{
  color: #fff;
  font-size: 14px;

}
