body{
  background: url('../images/Stars-wallpaper-HD-desktop.jpg') no-repeat center center fixed!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-color:#3333!important; */

}

h1{
  font-size: 60px!important;
  font-family: Brush Script MT, Brush Script Std, cursive!important;
  color: rgb(210, 82, 127)!important;
}


h2{
  color: white!important;
}

.topnav button{
  background-color: rgb(210, 82, 127)!important;
  border: none;
  padding: 2px 5px;
  color:#fff;
}


img {
  height:350px;
}

p{
  color: white!important;
}

ul{
  color: white!important;
}
